@import "tailwindcss";

body,
header {
  background: linear-gradient(
    270deg,
    rgb(37, 37, 37) 0%,
    rgb(75, 75, 75) 27%,
    rgba(71, 71, 71, 1) 53%,
    #000000 100% /* rgb(199, 199, 199) 0%, */
  );
  overflow-x: hidden !important;
}
.Primary-Text {
  color: #dfd0b8;
}
.pg-primary {
  background-color: #dfd0b8;
}
body {
  margin-top: -28px !important;
}
header {
  position: sticky;
  box-shadow: 0 0.5px 0px rgb(39, 39, 39);
  -webkit-backdrop-filter: blur(6px);
}

* {
  border: 1px solid #ffffff;
}
